@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, black;
}

/* main {
    background-image: url('./assets/Earth.png');
    background-size: cover;
    background-position: 50%;
    width: 100vw;
    height: 100vh;
} */